In [0]:
# Loading Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
# Loading data
nrows=1000000
train = pd.read_csv('train.csv', nrows=nrows )
test = pd.read_csv('test.csv', nrows=nrows)

In [6]:
train.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [7]:
train.tail()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
595207,1488013,0,3,1,10,0,0,0,0,0,...,4,1,9,6,0,1,1,0,1,1
595208,1488016,0,5,1,3,0,0,0,0,0,...,4,1,3,8,1,0,1,0,1,1
595209,1488017,0,1,1,10,0,0,1,0,0,...,3,2,2,6,0,0,1,0,0,0
595210,1488021,0,5,2,3,1,0,0,0,1,...,4,1,4,2,0,1,1,1,0,0
595211,1488027,0,0,1,8,0,0,1,0,0,...,4,4,3,8,0,1,0,0,0,0

In [8]:
test.tail()

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
892811,1488022,0,1,6,0,0,0,1,0,0,...,4,2,3,4,0,1,0,0,1,0
892812,1488023,5,3,5,1,0,0,0,1,0,...,6,2,2,11,0,0,1,1,0,0
892813,1488024,0,1,5,0,0,1,0,0,0,...,5,2,2,11,0,1,1,0,0,0
892814,1488025,6,1,5,1,0,0,0,0,1,...,1,1,2,7,1,1,0,0,0,0
892815,1488026,7,1,4,1,0,0,0,0,1,...,5,2,2,7,0,1,1,1,0,0

In [9]:
train.shape

(595212, 59)

In [10]:
test.shape

(892816, 58)

In [11]:
# 중복행 제외하고 보기
train.drop_duplicates()
train.shape

(595212, 59)

In [12]:
train.info

<bound method DataFrame.info of              id  target  ps_ind_01  ps_ind_02_cat  ps_ind_03  ps_ind_04_cat  \
0             7       0          2              2          5              1
1             9       0          1              1          7              0
2            13       0          5              4          9              1
3            16       0          0              1          2              0
4            17       0          0              2          0              1
5            19       0          5              1          4              0
6            20       0          2              1          3              1
7            22       0          5              1          4              0
8            26       0          5              1          3              1
9            28       1          1              1          2              0
10           34       0          5              2          2              0
11           35       0          2              1          3              1
12           36       0          2              1          1              1
13           43       0          1              1          3              1
14           46       0          5              1         11              0
15           48       0          5              1          3              1
16           50       0          1              2          1              0
17           58       0          5              1          6              0
18           61       0          5              1          8              0
19           64       1          0              1          2              1
20           65       0          0              1          2              0
21           66       0          0              1          5              1
22           72       0          5              3          6              1
23           74       0          2              1          2              1
24           77       0          0              1          2              0
25           78       0          0              1          7              0
26           79       0          0              1          4              1
27           80       0          4              1          6              0
28           84       1          0              2          0              1
29           85       0          3              2          2              0
...         ...     ...        ...            ...        ...            ...
595182  1487945       0          0              1          2              0
595183  1487951       0          1              1          9              0
595184  1487952       0          1              1          5              0
595185  1487954       0          0              2          8              1
595186  1487957       0          0              1          3              1
595187  1487958       0          0              1          7              0
595188  1487962       0          2              1          3              0
595189  1487963       0          3              1          9              0
595190  1487964       0          1              2          3              0
595191  1487968       0          5              1          3              0
595192  1487973       0          0              1          1              0
595193  1487975       0          0              2          0              0
595194  1487976       0          0              1          7              1
595195  1487980       0          0              3          3              1
595196  1487983       0          1              1          2              0
595197  1487988       0          1              1          7              1
595198  1487990       0          5              1          7              1
595199  1487992       0          3              1          3              1
595200  1487994       0          1              1          1              0
595201  1487996       0          0              2          2              1
595202  1488001       0          4              1          3              0
595203  1488005       0          3              2          3              1
595204  1488008       0          1              2          2              1
595205  1488009       0          0              3          6              1
595206  1488011       0          0              1          2              0
595207  1488013       0          3              1         10              0
595208  1488016       0          5              1          3              0
595209  1488017       0          1              1         10              0
595210  1488021       0          5              2          3              1
595211  1488027       0          0              1          8              0

        ps_ind_05_cat  ps_ind_06_bin  ps_ind_07_bin  ps_ind_08_bin  \
0                   0              0              1              0
1                   0              0              0              1
2                   0              0              0              1
3                   0              1              0              0
4                   0              1              0              0
5                   0              0              0              0
6                   0              0              1              0
7                   0              1              0              0
8                   0              0              0              1
9                   0              0              1              0
10                  0              0              0              1
11                  0              0              1              0
12                  0              0              0              1
13                  0              0              1              0
14                  0              0              0              0
15                  0              0              1              0
16                  0              0              0              1
17                  1              1              0              0
18                  0              1              0              0
19                  0              1              0              0
20                  0              1              0              0
21                  4              1              0              0
22                  3              0              1              0
23                  0              0              1              0
24                  0              1              0              0
25                  0              1              0              0
26                  0              0              0              1
27                  0              0              0              0
28                  4              1              0              0
29                  0              1              0              0
...               ...            ...            ...            ...
595182              0              1              0              0
595183              0              1              0              0
595184              0              1              0              0
595185              0              0              0              1
595186              0              0              1              0
595187              4              0              0              0
595188              0              1              0              0
595189              0              1              0              0
595190              0              1              0              0
595191              0              0              0              1
595192              0              0              1              0
595193             -1              0              1              0
595194              0              0              1              0
595195              0              0              1              0
595196              0              1              0              0
595197              0              0              1              0
595198              0              0              0              0
595199              0              0              0              1
595200              3              1              0              0
595201              0              0              0              0
595202              0              0              1              0
595203              0              0              1              0
595204              0              0              1              0
595205              0              0              1              0
595206              0              0              0              0
595207              0              0              0              0
595208              0              0              0              0
595209              0              1              0              0
595210              0              0              0              1
595211              0              1              0              0

             ...        ps_calc_11  ps_calc_12  ps_calc_13  ps_calc_14  \
0            ...                 9           1           5           8
1            ...                 3           1           1           9
2            ...                 4           2           7           7
3            ...                 2           2           4           9
4            ...                 3           1           1           3
5            ...                 4           2           0           9
6            ...                 3           0           0          10
7            ...                 7           1           3           6
8            ...                 4           2           1           5
9            ...                 3           5           0           6
10           ...                 6           3           3           6
11           ...                 9           2           1          10
12           ...                 6           3           3           8
13           ...                 2           0           4           3
14           ...                 4           1           3           9
15           ...                 5           2           6           7
16           ...                 3           3           1           8
17           ...                 9           1           3           9
18           ...                 3           1           6           5
19           ...                10           3           1          11
20           ...                 7           2           2           4
21           ...                 5           5           3           8
22           ...                 8           1           3           5
23           ...                 7           1           3           9
24           ...                 5           1           2           8
25           ...                 6           4           4           4
26           ...                 4           2           4           3
27           ...                 7           2           2          11
28           ...                 3           2           0           8
29           ...                 2           0           4           7
...          ...               ...         ...         ...         ...
595182       ...                12           0           5           8
595183       ...                 2           2           3           7
595184       ...                 7           0           3           9
595185       ...                10           1           1          11
595186       ...                10           0           2           9
595187       ...                 5           1           4           9
595188       ...                 8           1           6           6
595189       ...                 7           0           8           4
595190       ...                 1           0           4           6
595191       ...                 8           2           1          11
595192       ...                 5           1           5           5
595193       ...                 6           1           3           5
595194       ...                 6           1           4          12
595195       ...                 8           0           2           5
595196       ...                 6           0           1          11
595197       ...                 4           1           3           6
595198       ...                 6           2           2          14
595199       ...                 1           1           1          10
595200       ...                 2           3           3          12
595201       ...                 4           1           2           6
595202       ...                11           6           2           6
595203       ...                 5           2           1           6
595204       ...                 3           1           3           9
595205       ...                 7           1           2           6
595206       ...                 8           0           1           7
595207       ...                 4           1           9           6
595208       ...                 4           1           3           8
595209       ...                 3           2           2           6
595210       ...                 4           1           4           2
595211       ...                 4           4           3           8

        ps_calc_15_bin  ps_calc_16_bin  ps_calc_17_bin  ps_calc_18_bin  \
0                    0               1               1               0
1                    0               1               1               0
2                    0               1               1               0
3                    0               0               0               0
4                    0               0               0               1
5                    0               1               0               1
6                    0               1               0               0
7                    1               0               1               0
8                    0               1               0               0
9                    0               1               0               0
10                   0               1               1               0
11                   0               1               0               1
12                   0               0               1               0
13                   0               0               1               0
14                   0               0               0               0
15                   0               1               1               0
16                   0               0               1               0
17                   0               1               1               0
18                   0               0               0               1
19                   0               1               1               0
20                   0               1               0               0
21                   0               0               0               0
22                   0               0               0               0
23                   0               1               0               1
24                   0               1               1               1
25                   0               0               1               1
26                   0               1               1               1
27                   0               1               0               1
28                   0               1               1               0
29                   0               1               0               0
...                ...             ...             ...             ...
595182               0               0               0               1
595183               0               1               1               0
595184               0               0               0               0
595185               0               1               0               1
595186               0               0               1               1
595187               0               1               1               0
595188               0               1               1               0
595189               0               1               0               1
595190               0               0               1               0
595191               0               0               1               1
595192               0               1               1               0
595193               0               1               0               1
595194               0               1               1               0
595195               0               1               0               0
595196               1               1               0               0
595197               0               0               1               1
595198               0               1               1               0
595199               0               0               1               0
595200               0               0               1               0
595201               1               1               0               1
595202               0               1               1               0
595203               0               0               0               0
595204               0               1               0               0
595205               1               0               1               0
595206               0               1               1               0
595207               0               1               1               0
595208               1               0               1               0
595209               0               0               1               0
595210               0               1               1               1
595211               0               1               0               0

        ps_calc_19_bin  ps_calc_20_bin
0                    0               1
1                    1               0
2                    1               0
3                    0               0
4                    1               0
5                    1               1
6                    1               0
7                    1               0
8                    0               1
9                    1               0
10                   1               1
11                   0               0
12                   0               1
13                   1               0
14                   1               0
15                   1               0
16                   0               0
17                   0               0
18                   0               0
19                   1               0
20                   1               0
21                   1               0
22                   0               1
23                   0               0
24                   0               0
25                   0               1
26                   0               1
27                   0               0
28                   0               0
29                   0               0
...                ...             ...
595182               1               0
595183               1               0
595184               0               1
595185               0               0
595186               0               0
595187               0               1
595188               0               0
595189               1               0
595190               0               0
595191               0               1
595192               1               1
595193               0               0
595194               0               0
595195               1               1
595196               1               1
595197               1               0
595198               0               0
595199               1               0
595200               0               0
595201               1               0
595202               1               0
595203               0               0
595204               1               0
595205               0               0
595206               0               0
595207               1               1

### Metadata
* role : input, ID, target
* level : nominal, interval, ordinal, binary
* keep : True or False
* dtype : int, float, str

In [0]:
data = []
for f in train.columns:
  # Defining the role
  if f =='target':
    role = 'target'
  elif f == 'id':
    role = 'id'
  else:
    role = 'input'
    
  # Defining the level
  if 'bin' in f or f == 'target':
    level = 'binary'
  elif 'cat' in f or f == 'id':
    level = 'nominal'
  elif train[f].dtype == float:
    level = 'interval'
  elif train[f].dtype == int:
    level = 'ordinal'
    
  
  # Initialize keep to True for all variables except for id
  keep = True
  if f == 'id':
    keep = False
    
  # Defining the data type
  dtype = train[f].dtype
  
  # Creating a Dict that contains all the metadata for the variable
  f_dict = {
      'varname':f,
      'role':role,
      'level':level,
      'keep':keep,
      'dtype':dtype
  }
  data.append(f_dict)
  
meta = pd.DataFrame(data, columns=['varname', 'role', 'level', 'keep', 'dtype'])
meta.set_index('varname', inplace=True)

In [14]:
meta

                  role     level   keep    dtype
varname
id                  id   nominal  False    int64
target          target    binary   True    int64
ps_ind_01        input   ordinal   True    int64
ps_ind_02_cat    input   nominal   True    int64
ps_ind_03        input   ordinal   True    int64
ps_ind_04_cat    input   nominal   True    int64
ps_ind_05_cat    input   nominal   True    int64
ps_ind_06_bin    input    binary   True    int64
ps_ind_07_bin    input    binary   True    int64
ps_ind_08_bin    input    binary   True    int64
ps_ind_09_bin    input    binary   True    int64
ps_ind_10_bin    input    binary   True    int64
ps_ind_11_bin    input    binary   True    int64
ps_ind_12_bin    input    binary   True    int64
ps_ind_13_bin    input    binary   True    int64
ps_ind_14        input   ordinal   True    int64
ps_ind_15        input   ordinal   True    int64
ps_ind_16_bin    input    binary   True    int64
ps_ind_17_bin    input    binary   True    int64
ps_ind_18_bin    input    binary   True    int64
ps_reg_01        input  interval   True  float64
ps_reg_02        input  interval   True  float64
ps_reg_03        input  interval   True  float64
ps_car_01_cat    input   nominal   True    int64
ps_car_02_cat    input   nominal   True    int64
ps_car_03_cat    input   nominal   True    int64
ps_car_04_cat    input   nominal   True    int64
ps_car_05_cat    input   nominal   True    int64
ps_car_06_cat    input   nominal   True    int64
ps_car_07_cat    input   nominal   True    int64
ps_car_08_cat    input   nominal   True    int64
ps_car_09_cat    input   nominal   True    int64
ps_car_10_cat    input   nominal   True    int64
ps_car_11_cat    input   nominal   True    int64
ps_car_11        input   ordinal   True    int64
ps_car_12        input  interval   True  float64
ps_car_13        input  interval   True  float64
ps_car_14        input  interval   True  float64
ps_car_15        input  interval   True  float64
ps_calc_01       input  interval   True  float64
ps_calc_02       input  interval   True  float64
ps_calc_03       input  interval   True  float64
ps_calc_04       input   ordinal   True    int64
ps_calc_05       input   ordinal   True    int64
ps_calc_06       input   ordinal   True    int64
ps_calc_07       input   ordinal   True    int64
ps_calc_08       input   ordinal   True    int64
ps_calc_09       input   ordinal   True    int64
ps_calc_10       input   ordinal   True    int64
ps_calc_11       input   ordinal   True    int64
ps_calc_12       input   ordinal   True    int64
ps_calc_13       input   ordinal   True    int64
ps_calc_14       input   ordinal   True    int64
ps_calc_15_bin   input    binary   True    int64
ps_calc_16_bin   input    binary   True    int64
ps_calc_17_bin   input    binary   True    int64
ps_calc_18_bin   input    binary   True    int64
ps_calc_19_bin   input    binary   True    int64
ps_calc_20_bin   input    binary   True    int64

In [15]:
meta[(meta.level == 'nominal')&(meta.keep)].index

Index(['ps_ind_02_cat', 'ps_ind_04_cat', 'ps_ind_05_cat', 'ps_car_01_cat',
       'ps_car_02_cat', 'ps_car_03_cat', 'ps_car_04_cat', 'ps_car_05_cat',
       'ps_car_06_cat', 'ps_car_07_cat', 'ps_car_08_cat', 'ps_car_09_cat',
       'ps_car_10_cat', 'ps_car_11_cat'],
      dtype='object', name='varname')

In [16]:
pd.DataFrame({'count':meta.groupby(['role', 'level'])['role'].size()}).reset_index()

     role     level  count
0      id   nominal      1
1   input    binary     17
2   input  interval     10
3   input   nominal     14
4   input   ordinal     16
5  target    binary      1

### Descriptive statistics

평균, 표준편차 등을 이 데이터에 적용하는 것은 크게 유용하지는 않으나 한번 해본다.

In [17]:
# Interval variables
v = meta[(meta.level == 'interval') & (meta.keep)].index
train[v].describe()

,ps_reg_01,ps_reg_02,ps_reg_03,ps_car_12,ps_car_13,ps_car_14,ps_car_15,ps_calc_01,ps_calc_02,ps_calc_03
count,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000
mean,0.610991,0.439184,0.551102,0.379945,0.813265,0.276256,3.065899,0.449756,0.449589,0.449849
std,0.287643,0.404264,0.793506,0.058327,0.224588,0.357154,0.731366,0.287198,0.286893,0.287153
min,0.000000,0.000000,-1.000000,-1.000000,0.250619,-1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,0.200000,0.525000,0.316228,0.670867,0.333167,2.828427,0.200000,0.200000,0.200000
50%,0.700000,0.300000,0.720677,0.374166,0.765811,0.368782,3.316625,0.500000,0.400000,0.500000
75%,0.900000,0.600000,1.000000,0.400000,0.906190,0.396485,3.605551,0.700000,0.700000,0.700000
max,0.900000,1.800000,4.037945,1.264911,3.720626,0.636396,3.741657,0.900000,0.900000,0.900000

reg variables
* ps_reg_03 : 결측치 존재
* 범위가 달라서 스케일링이 필요.

car variables
* ps_car_12, ps_car_15 : 결측치 존재
* 범위가 달라서 스케일링 필요 

cals variables
* 결측치 없음
* 최대값이 0.9인 비율값으로 보인다.
* 모든 cals 데이터는 매우 유사한 디스트리뷰선을 보인다.

In [19]:
# Ordinal variables
v = meta[(meta.level == 'ordinal')& (meta.keep)].index
train[v].describe()

,ps_ind_01,ps_ind_03,ps_ind_14,ps_ind_15,ps_car_11,ps_calc_04,ps_calc_05,ps_calc_06,ps_calc_07,ps_calc_08,ps_calc_09,ps_calc_10,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14
count,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000
mean,1.900378,4.423318,0.012451,7.299922,2.346072,2.372081,1.885886,7.689445,3.005823,9.225904,2.339034,8.433590,5.441382,1.441918,2.872288,7.539026
std,1.983789,2.699902,0.127545,3.546042,0.832548,1.117219,1.134927,1.334312,1.414564,1.459672,1.246949,2.904597,2.332871,1.202963,1.694887,2.746652
min,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,5.000000,2.000000,2.000000,1.000000,7.000000,2.000000,8.000000,1.000000,6.000000,4.000000,1.000000,2.000000,6.000000
50%,1.000000,4.000000,0.000000,7.000000,3.000000,2.000000,2.000000,8.000000,3.000000,9.000000,2.000000,8.000000,5.000000,1.000000,3.000000,7.000000
75%,3.000000,6.000000,0.000000,10.000000,3.000000,3.000000,3.000000,9.000000,4.000000,10.000000,3.000000,10.000000,7.000000,2.000000,4.000000,9.000000
max,7.000000,11.000000,4.000000,13.000000,3.000000,5.000000,6.000000,10.000000,9.000000,12.000000,7.000000,25.000000,19.000000,10.000000,13.000000,23.000000

* 결측치 : ps_car_11
* 스케일링 필요

In [20]:
# Binary variables
v = meta[(meta.level == 'binary')&(meta.keep)].index
train[v].describe()

,target,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,ps_ind_11_bin,ps_ind_12_bin,ps_ind_13_bin,ps_ind_16_bin,ps_ind_17_bin,ps_ind_18_bin,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
count,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000,595212.000000
mean,0.036448,0.393742,0.257033,0.163921,0.185304,0.000373,0.001692,0.009439,0.000948,0.660823,0.121081,0.153446,0.122427,0.627840,0.554182,0.287182,0.349024,0.153318
std,0.187401,0.488579,0.436998,0.370205,0.388544,0.019309,0.041097,0.096693,0.030768,0.473430,0.326222,0.360417,0.327779,0.483381,0.497056,0.452447,0.476662,0.360295
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [0]:
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectFromModel
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier

In [23]:
### Handling imbalanced classes
desired_apriori=0.10

# get the indices per target value
idx_0 = train[train.target == 0].index
idx_1 = train[train.target == 1].index

# get original number of records per target value
nb_0 = len(train.loc[idx_0])
nb_1 = len(train.loc[idx_1])

# calculate the undersampling rate and resulting number of records with target=0
undersampling_rate = ((1-desired_apriori)*nb_1)/(nb_0*desired_apriori)
undersampled_nb_0 = int(undersampling_rate*nb_0)
print('Rate to undersample records with target=0: {}'.format(undersampling_rate))
print('Number of records with target=0 after undersampling: {}'.format(undersampled_nb_0))

# Randomly select records with target=0 to get at the desired a priori
undersampled_idx = shuffle(idx_0, random_state=37, n_samples=undersampled_nb_0)

# Construct list with remaining indices
idx_list = list(undersampled_idx) + list(idx_1)

# Retrun undersample data frame
train = train.loc[idx_list].reset_index(drop=True)

Rate to undersample records with target=0: 0.34043569687437886
Number of records with target=0 after undersampling: 195246

In [24]:
# Data Quality Checks
vars_with_missing = []

for f in train.columns:
  missings = train[train[f] == -1][f].count()
  if missings > 0:
    vars_with_missing.append(f)
    missings_perc = missings/train.shape[0]
    
    print('Variable {} has {} records ({:.2%}) with missing values'.format(f, missings, missings_perc))
    
print('In total, there are {} variables with missing values'.format(len(vars_with_missing)))

Variable ps_ind_02_cat has 103 records (0.05%) with missing values
Variable ps_ind_04_cat has 51 records (0.02%) with missing values
Variable ps_ind_05_cat has 2256 records (1.04%) with missing values
Variable ps_reg_03 has 38580 records (17.78%) with missing values
Variable ps_car_01_cat has 62 records (0.03%) with missing values
Variable ps_car_02_cat has 2 records (0.00%) with missing values
Variable ps_car_03_cat has 148367 records (68.39%) with missing values
Variable ps_car_05_cat has 96026 records (44.26%) with missing values
Variable ps_car_07_cat has 4431 records (2.04%) with missing values
Variable ps_car_09_cat has 230 records (0.11%) with missing values
Variable ps_car_11 has 1 records (0.00%) with missing values
Variable ps_car_14 has 15726 records (7.25%) with missing values
In total, there are 12 variables with missing values

In [27]:
# Dropping the variables with too many misiing values
vars_to_drop = ['ps_car_03_cat', 'ps_car_05_cat']
train.drop(vars_to_drop, inplace = True, axis=1)
meta.loc[(vars_to_drop), 'keep'] = False # Updating the meta

# Imputing with the mean or mode
mean_imp = Imputer(missing_values=-1, strategy='mean', axis=0)
mode_imp = Imputer(missing_values=-1, strategy='most_frequent', axis=0)
train['ps_reg_03'] = mean_imp.fit_transform(train[['ps_reg_03']]).ravel()
train['ps_car_12'] = mean_imp.fit_transform(train[['ps_car_12']]).ravel()
train['ps_car_14'] = mean_imp.fit_transform(train[['ps_car_14']]).ravel()
train['ps_car_11'] = mean_imp.fit_transform(train[['ps_car_11']]).ravel()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [29]:
# Checking the cardinality of the categorical variables
v =  meta[(meta.level == 'nominal') & (meta.keep)].index

for f in v:
  dist_values = train[f].value_counts().shape[0]
  print('Variable {} has {} distinct values'.format(f, dist_values))

Variable ps_ind_02_cat has 5 distinct values
Variable ps_ind_04_cat has 3 distinct values
Variable ps_ind_05_cat has 8 distinct values
Variable ps_car_01_cat has 13 distinct values
Variable ps_car_02_cat has 3 distinct values
Variable ps_car_04_cat has 10 distinct values
Variable ps_car_06_cat has 18 distinct values
Variable ps_car_07_cat has 3 distinct values
Variable ps_car_08_cat has 2 distinct values
Variable ps_car_09_cat has 6 distinct values
Variable ps_car_10_cat has 3 distinct values
Variable ps_car_11_cat has 104 distinct values

In [31]:
def add_noise(series, noise_level):
  return series * (1+noise_level*np.random.randn(len(series)))

def target_encode(trn_series=None,
                 tst_series=None,
                 target=None,
                 min_samples_leaf=1,
                 smoothing =1,
                 noise_level=0):
  assert len(trn_series) == len(target)
  assert trn_series.name == tst_series.name
  temp = pd.concat([trn_series, target], axis=1)
  # Compute smoothing
  smoothing = 1/ (1+np.exp(-(averages['count']-min_samples_leaf) / smoothing))
  # Apply average function to all target data
  prior = target.mean()
  # The bigger the count the less full_avg is taken into account
  averages[target.name] = prior * (1-smoothing) + averages['mean'] * smoothing
  averages.drop(['mean', 'count'], axis=1, inplace=True)
  # Apply averages to trn and tst series
  ft_trn_series = pd.merge(
  trn_series.to_frame(trn_series.name),
  averages.reset_index().rename(columns={'index':target.name, target.name:'average'})),
  on = trn_series.name,
  how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
  # pd.merge does not keep the index so resore it
  ft_trn_series.index = trn_series.index
  ft_tst_series = pd.merge(
  tst_series.to_frame(tst_series.name),
  averages.reset_index().rename(columns={'index':target.name, target.name:'average'}),
  on = trt_series.name,
  how ='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
  # pd.merge does not keep the index so restore it
  ft_tst_series.index = tst_series.index
  return add_noise(ft_trn_series, noise_level), add_noise(ft_tst_series, noise_level)

SyntaxError: ignored